<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brilliantage.apps.RLTimer" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RLTimerApp</name>
    <description>
        A proof of concept app for Red Lobster.
    </description>
    <author email="ger@brilliantage.com" href="http://www.brilliantage.com">
        Brilliant Age, Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
</widget>
